#title {
  height: 200px;
  display: flex;
  border: 2px solid #e5e6dd;
  align-items: center;
  width: 1000px ;
  font-size: 28px;
  text-align: center;
  justify-content: center;
  margin: 20px auto;
}
#Principles-list {
  font-size: 20px;
}

.Principles {
  padding: 70px;
  border: 2px solid green;
  margin: 100px auto;
  width: 1000px;
  height: 500px;
  text-align: center;

}