#title {
  height: 200px;
  display: flex;
  border: 2px solid #e5e6dd;
  align-items: center;
  width: 1000px ;
  font-size: 28px;
  text-align: center;
  justify-content: center;
  margin: 20px auto;
  font-family: 'Raleway', sans-serif;
}
.Principle-list {
  padding: 5px;
  font-size: 15px;
}
.Principles {
  padding: 100px;
  border: 2px solid green;
  margin: 100px auto;
  width: 1000px;
  height: 500px;
  text-align: center;
}

.Subtitle {
  font-size: 16px;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
  font-family: 'Raleway', sans-serif;
}
